export EGNYTE_DOMAIN={EGNYTE_PROJECT_NAME}
export EGNYTE_KEY_VALUE="{\"clientId\":\"123456\",\"clientSecret\":\"123456\",\"username\":\"blah@blah.com\",\"password\":\"resource-owner-password\"}"
export EGNYTE_TOKEN_URL="https://{EGNYTE_PROJECT_NAME}.egnyte.com/puboauth/token"
export EGNYTE_GRANT_TYPE="password"
